table {
    width: 95%;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    margin-top: 10px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
 .mat-paginator {
  width: 95%;
  margin: 0 auto;
  }